<!DOCTYPE html>
<html lang="bg">
<head>
  <%- include('../partials/header') %>
  <title>Администраторско табло</title>
</head>
<body>
  <h1>Администраторско табло</h1>
  <p>Добре дошъл, Aдминистратор!</p>
  <ul>
    <li><a href="/books">Управление на Книги</a></li>
    <li><a href="/authors">Управление на Автори</a></li>
    <li><a href="/admin/publishers">Управление на Потребители</a></li>
  </ul>
  <a href="/admin/logout" class="btn btn-danger">Изход</a>
  <%- include('../partials/footer') %>
</body>
</html>