<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/header') %>
  <title>Admin Dashboard</title>
</head>
<body>
  <h1>Admin Dashboard</h1>
  <p>Welcome, Grand Administrator!</p>
  <ul>
    <li><a href="/books">Manage Books</a></li>
    <li><a href="/authors">Manage Authors</a></li>
    <li><a href="/admin/publishers">Manage Publishers</a></li>
  </ul>
  <a href="/admin/logout">Logout</a>
  <%- include('../partials/footer') %>
</body>
</html>