<!DOCTYPE html>
<html lang="bg">
<head>
  <%- include('../partials/header') %>
  <title>Вход на администратор</title>
</head>
<body>
  <h1>Вход на администратор</h1>
  <form action="/admin/login" method="POST">
    <div class="form-row">
      <label for="username">Потребителско Име:</label>
      <input type="text" id="username" name="username" required>
    </div>
    <div class="form-row">
      <label for="password">Парола:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div class="form-row form-row-end btn-row">
      <button class="btn btn-primary" type="submit">Вход</button>
    </div>
  </form>
  <%- include('../partials/footer') %>
</body>
</html>