<!DOCTYPE html>
<html lang="bg">
<head>
  <%- include('partials/header') %>
</head>
<body>
  <h2 class="page-header">Наскоро добавени</h2>
  <%- include('partials/bookGrid', { books: books, large: true }) %>
  <%- include('partials/footer') %>
</body>
</html>