<!DOCTYPE html>
<html lang="bg">
<head>
  <%- include('partials/header') %>
</head>
<body>
  <main class="main-content">
    <h2 class="page-header p-3 text-center">Наскоро добавени</h2>
    <%- include('partials/bookGrid', { books: books, large: true }) %>
  </main>
  <%- include('partials/footer') %>
</body>
</html>