<div class="form-row">
  <label for="name">Име:</label>
  <input type="text" id="name" name="name" value="<%= author.name %>" required>
</div>

<div class="form-row">
  <label for="bio">Биография:</label>
  <textarea id="bio" name="bio"><%= author.bio %></textarea>
</div>