<!DOCTYPE html>
<html lang="bg">
<head>
  <%- include('../partials/header') %>
  <title>Publisher Dashboard</title>
</head>
<body>
  <h1>Welcome, <%= session.publisher.name %></h1>
  <p><%= session.publisher.bio %></p>
  <a href="/publishers/edit">Edit Account</a>
  <a href="/publishers/logout">Logout</a>
  <%- include('../partials/footer') %>
</body>
</html>